<!DOCTYPE html>
<html>
<head>
  <title><%= l(:title_public_issue_preview) %></title>
  <meta name="robots" content="noindex, nofollow">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%# You can add a separate CSS for the preview page if desired %>
  <%= stylesheet_link_tag 'public_preview', plugin: 'redmine_public_preview', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><%= Setting.app_title %> - <%= l(:title_public_issue_preview) %></h1>
    </div>
    <div id="main" class="nosidebar">
        <div id="content">
            <%= yield %>
        </div>
    </div>
    <div id="footer">
      <p class="text-center">Powered by <a href="https://ifox.vn">Ifox Development Team</a></p>
    </div>
  </div>
</body>
</html> 
